


<h1 class='page-header'>Fabric Printing</h1>
<p> 1972 - 1980</p>
<div class="row">
                        <div class="col-md-offset-2 col-md-6">
                            <div class="row">
<%= link_to image_tag("/assets/portfolio/01pattern_closeup.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern_closeup.jpg", data:{ title:'Pattern Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive"%>

<%= link_to image_tag("/assets/portfolio/01pattern1972.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern1972.jpg", data:{ title:'Pattern - Fabric Print', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive" %>

<%= link_to image_tag("/assets/portfolio/02pattern_closeup72.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/02pattern_closeup72.jpg", data:{ title:'Pattern - Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive" %>

<%= link_to image_tag("/assets/portfolio/02pattern1972.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/02pattern1972.jpg", data:{ title:'Pattern - Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive" %>


</div>
<div class="row">

<%= link_to image_tag("/assets/portfolio/01pattern_closeup.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern_closeup.jpg", data:{ title:'Pattern Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive"%>
<%= link_to image_tag("/assets/portfolio/01pattern_closeup.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern_closeup.jpg", data:{ title:'Pattern Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive"%>
<%= link_to image_tag("/assets/portfolio/01pattern_closeup.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern_closeup.jpg", data:{ title:'Pattern Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive"%>
<%= link_to image_tag("/assets/portfolio/01pattern_closeup.jpg", height:'105px', class: "col-sm-3"), "/assets/portfolio/01pattern_closeup.jpg", data:{ title:'Pattern Fabric Print CloseUp', footer:'Fabric Printing 1972', toggle:'lightbox', gallery:'multiimages' }, class: "img-responsive"%>

</div>
